.InBl{
    display:inline-block;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column{
    flex-direction:column;
}

.m-auto{
    margin: auto;
}


section, section.reduce, #slider{
    margin-bottom: $section-margin;
}
section{
    padding:5rem 0;
}

#category{

}

#best-of{
    //z-index: -1;
}
#FirstCat{
    top: -216px;
    right: 0;
}
#SecondCat{
    top: 219px;
    left: 0;
}
#fusee{
    left: 0%;
    top: 33px;
}
.bg-grey{
    background-color: $section-bg;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}