
body{
    color: $font-color;
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit;
}
h2{
    font-size:48Px;
    margin: 2rem 0;
    color: $head-gold;
}

.bg-grey h2{
    color: inherit;
}

.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}