@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');


/****************************************************************
COLORS
********************************************************/
$green :#088038;
$section-bg:#DEDBD5;
$head-gold:#C09A54;
$btn-gold:#E2BF83;
$btn-gold-gradient:#F4DDA8;
$trans-black:rgba(11,10,10,0.7);
$white: white;
$font-color: black;
$section-margin:6rem;
