@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/****************************************************************
COLORS
********************************************************/
/****************************************************************
FONTS
*******************************************************************/
.InBl {
  display: inline-block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.m-auto {
  margin: auto;
}

section, section.reduce, #slider {
  margin-bottom: 6rem;
}

section {
  padding: 5rem 0;
}

.bg-grey {
  background-color: #DEDBD5;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

body {
  font-family: "Exo 2", sans-serif;
  color: black;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 48Px;
  margin-bottom: 2rem;
  color: #C09A54;
}

h3 {
  font-size: 26px;
  margin: bottom 1rem;
}

p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 20px;
}

.bg-grey h2 {
  color: inherit;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.reduce {
  width: 80%;
  margin: 0 auto;
}

.tiers {
  width: 30%;
}

.quart {
  width: 24%;
}

.fifty {
  width: 49%;
}

.two-col {
  width: 16%;
}

.responsive {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .reduce {
    width: 95%;
  }

  .fifty {
    width: 100%;
  }
}
.product {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.product .InfoProduct {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.product .InfoProduct :nth-child(1) {
  text-align: left;
  width: 80%;
}
.product .InfoProduct :nth-child(2) {
  width: 18%;
}
.product .InfoProduct :nth-child(3) {
  width: 20%;
}
.product .InfoProduct :nth-child(4) {
  width: 70%;
}

header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}
header .reduce {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  width: 50%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  display: inline-block;
}

#Logo {
  position: absolute;
  top: 5px;
  left: 5px;
}

#InfoBar {
  background-color: #088038;
  height: 30px;
}

#Navbar {
  background-color: rgba(11, 10, 10, 0.7);
  height: 40px;
}
#Navbar .reduce {
  height: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  margin: 2rem 0;
  border-radius: 20px;
  transition: box-shadow 500ms;
}
.btn:hover {
  box-shadow: 5px 5px 5px #C09A54;
}

.btn-gold {
  background: linear-gradient(#E2BF83, #F4DDA8, #E2BF83);
}

#FirstCat {
  top: -216px;
  right: 0;
}

#SecondCat {
  bottom: -80px;
  left: -5px;
}

#fusee {
  left: 0%;
  top: 33px;
}

#dogs {
  top: -224px;
  left: 19%;
}

.one {
  height: 30px;
  display: inline-block;
}
.one::before {
  content: url("/public/img/ico/Livraison blanc 1.png");
  vertical-align: middle;
}

#avis > :nth-child(2) {
  margin: 2rem auto;
}

#avis div div {
  margin-bottom: 3rem;
}

footer {
  background-image: url("/public/img/footer.png");
  min-height: 427px;
}

#slider {
  position: relative;
  height: 700px;
  animation: sliding 10s infinite;
}
#slider img {
  position: absolute;
  top: 0;
}
#slider :nth-child(1) {
  left: 0;
}
#slider :nth-child(2) {
  left: 1920px;
}
#slider :nth-child(3) {
  left: 3840px;
}

@keyframes sliding {
  from {
    left: 0;
  }
  35% {
    left: 0;
  }
  50%, 85% {
    left: -1920px;
  }
  99% {
    left: -3840px;
  }
  to {
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
